WSG/Service References/svc/WSG.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WSG" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WSG" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NoHostException">
    <xs:sequence>
      <xs:element minOccurs="0" name="noHostReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="noHostStatus" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NoHostException" nillable="true" type="tns:NoHostException" />
  <xs:complexType name="GameAlreadyHostedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="alreadyHostedReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="alreadyHostedStatus" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameAlreadyHostedException" nillable="true" type="tns:GameAlreadyHostedException" />
  <xs:complexType name="Word">
    <xs:sequence>
      <xs:element minOccurs="0" name="scrambledWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unscrambledWord" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Word" nillable="true" type="tns:Word" />
  <xs:complexType name="MaxPlayersException">
    <xs:sequence>
      <xs:element minOccurs="0" name="maxPlayersReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maxPlayersStatus" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaxPlayersException" nillable="true" type="tns:MaxPlayersException" />
  <xs:complexType name="HostPlayGameException">
    <xs:sequence>
      <xs:element minOccurs="0" name="hostPlayReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hostPlayStatus" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HostPlayGameException" nillable="true" type="tns:HostPlayGameException" />
  <xs:complexType name="UnknownPlayerException">
    <xs:sequence>
      <xs:element minOccurs="0" name="unknownPlayerReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unknownPlayerStatus" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnknownPlayerException" nillable="true" type="tns:UnknownPlayerException" />
</xs:schema>